model_config_list: {
  config: {
    name: "xception_classification",
    base_path: "/opt/celonis_ml_challenge/inference_models/saved_models/xception_classification",
    model_platform: "tensorflow"
  },
  config: {
    name: "ResNet50V2_classification",
    base_path: "/opt/celonis_ml_challenge/inference_models/saved_models/ResNet50V2_classification",
    model_platform: "tensorflow"
  }
}
